.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #666;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 16%;
  width: 100%;
  color: white;
}

.App-intro {
  font-size: large;
}
